.header-design {
  text-align: center;
  background: linear-gradient(90deg, rgb(169, 255, 169), rgb(255, 112, 112));
}
.main-container {
  background: linear-gradient(90deg, rgb(255, 230, 230), rgb(225, 255, 225));
}
